<?xml version="1.0">
<model>
	<name>monkey_complete.urdf</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>
	
	<author>
		<name>Jaú Gretler </name>
		
		<email>jau.gretler@gmail.com</email>
	</author>
	
	<description>
	Collision and visual URDF files for the robot monkey
	</description>
</model>
